doctype html
html(lang="zh-CN")
  head
    meta(charset="utf-8")
    |     
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    |     
    meta(name="viewport", content="width=device-width, initial-scale=1")
    |     
    title 大连(连连网)
    // Bootstrap
    link(href="/stylesheets/bootstrap.min.css", rel="stylesheet")
    |     
    link(rel="stylesheet", type="text/css", href="/stylesheets/users/mine.css")
    // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js")
      |       
      script(src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js")
  |   
  body
    .header
      .logoMenu
        .logo
          a(href="/users")
            span.glyphicon.glyphicon-home
            | 连连
        |         
        .headerMenuContent
          .sign
           -if(username)
              a(href="/users/loginOut") 退出登录
              a(href="/users/mine/?type=myFavorit") 我的收藏
              a(href="/users/mine")=username
              a 欢迎
            -else
              a(href="/users/sign") 立即注册
              |             
              a(href="/users/login") 登录
              |             
              a.glyphicon.glyphicon-user(href="#")
          |           
          .headerMenu
            ul
              li
                a(href="/users/rooms/?type=newroom") 新房
              |               
              li
                a(href="/users/rooms/?type=oldroom") 二手房
              |               
              li
                a(href="/users/rooms/?type=rentroom") 租房
    |     
    .container
      .row
        -if(type=="modifyPassword")
          .asideMenu.col-sm-2.col-sm-offset-2
            ul
              li
                a(href="/users/mine") 首页
              |             
              li.mactive
                a(href="/users/mine/?type=modifyPassword") 修改密码
              |             
              li
                a(href="/users/mine?type=myFavorit") 我的收藏        
          .mainContent.col-sm-6
            form.form-horizontal.modifyForm(action="/users/modifyPassword",method="post")
              .form-group
                .col-sm-3.col-sm-offset-4
                  p.warnText
              |                    
              .form-group
                -if(error)
                  p.warnText(style="color:red")=error
                label.col-sm-2.col-sm-offset-2.control-label(for="password") 原始密码
                |               
                .col-sm-3
                  input#password.form-control(type="password",name="password",placeholder="原始密码")
              |             
              .form-group
                label.col-sm-2.col-sm-offset-2.control-label(for="newpassword") 新密码
                |               
                .col-sm-3
                  input#newpassword.form-control(type="password",name="newpassword",placeholder="新密码")
              |             
              .form-group
                .col-sm-offset-4.col-sm-2
                  a.btn.btn-default.modify(href="javascript:void(0)") 修改
        -else if(type=="myFavorit")
          .asideMenu.col-sm-2.col-sm-offset-2
            ul
              li
                a(href="/users/mine") 首页
              |             
              li
                a(href="/users/mine/?type=modifyPassword") 修改密码
              |             
              li.mactive
                a(href="/users/mine?type=myFavorit") 我的收藏        
          .mainContent.col-sm-8
            -each data in result.items       
              .row.room
                .roomPic.col-sm-2
                  img(src="/#{data.roomPic}")
                |           
                .about.col-sm-5
                  h5=data.roomAddress
                  |             
                  p=data.roomAbouts
                  |             
                  div
                    button.btn.btn-success(type="button", disabled="disabled")=data.roomType             
                |           
                .price.col-sm-2
                  span=data.roomPrice
                  -if(data.roomType=="新房")
                    p 元/平
                  -if(data.roomType=="二手房")
                    p 万
                  -if(data.roomType=="租房")
                    p 元/月
                .cancel.col-sm-2
                  a.btn.btn-info.cancelFavorit(data-favoritId="#{data.id}") 删除
            nav(aria-label='Page navigation')
              ul.pagination
                li
                  a(href='/users/mine/?type=myFavorit&page='+(result.currPage-1), aria-label='Previous')
                    span(aria-hidden='true') 上一页
                -for(var p=0;p<result.count;p++)
                  li
                    a(href='/users/mine/?type=myFavorit&page='+p)=p+1
                li
                  a(href='/users/mine/?type=myFavorit&page='+(result.currPage+1), aria-label='Next')
                    span(aria-hidden='true') 下一页
        -else
          .asideMenu.col-sm-2.col-sm-offset-2
            ul
              li.mactive
                a(href="/users/mine") 首页
              |             
              li
                a(href="/users/mine/?type=modifyPassword") 修改密码
              |             
              li
                a(href="/users/mine?type=myFavorit") 我的收藏        
          .mainContent.col-sm-6
            h2 欢迎你
            h3=username
    |     
    .foot
      .footInfo
        | 大连连连购房网
    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src="/javascripts/jquery-3.1.1.min.js")
    // Include all compiled plugins (below), or include individual files as needed
    script(src="/javascripts/bootstrap.min.js")
    |     
    script(src="/javascripts/mine.js")